streamlit
pandas
numpy                                                                                                 
plotly                                          
altair                                                   
sklearn                         
ast  
