streamlit
pandas
numpy                                                                                                 
plotly.express                                          
altair                                                   
from sklearn.preprocessing import MinMaxScaler                          
from ast import literal_eval  
