streamlit
pandas
numpy                                                                                                 
import plotly.express as px                                            
import altair as alt                                                    
from sklearn.preprocessing import MinMaxScaler                          
from ast import literal_eval  
